<!doctype html>
<html lang="en">
<head>
    <title>Detected Faces</title>
</head>
<body>
    <h1>Detected Faces and Emotions</h1>
    <img src="{{ url_for('static', filename=image_path.split('static/')[-1]) }}" alt="Uploaded Image" width="400">

    <form method="POST" action="{{ url_for('show_faces_multi') }}">
        <table>
            <tr>
                <th>Face</th>
                <th>Name</th>
                <th>Emotion</th>
            </tr>
            {% for face in faces %}
            <tr>
                <td>Face {{ loop.index }}</td>
                <td>
                    <input type="text" name="name" value="{{ face.name }}">
                    <input type="hidden" name="encoding" value="{{ face.encoding }}">
                </td>
                <td>{{ face.emotion }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Update Names</button>
    </form>
</body>
</html>
