{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    <h1>Upload Multiple Files</h1>
    <form method="POST" action="/upload_multiple" enctype="multipart/form-data" class="form-group">
        <div class="form-group">
            <label for="files">Choose Files</label>
            <input type="file" name="files" multiple class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Upload</button>
    </form>
</div>
{% endblock %}
